<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" style="color: red; font-size: 30px; font-weight: bolder;">
    <img style="height: 50px;" src="/img/nav/nav-logo.png" alt="nav-logo">GNKSDK
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" style="border: 1px solid red;" type="search" placeholder="Search"
        aria-label="Search">
      <button class="btn btn-danger my-2 my-sm-0" type="submit"></button>
    </form>
    <ul class="navbar-nav mr-auto" style="display: flex; justify-self: end;">
      <% if(name == ""){ %>
      <li class="nav-item active mx-1">
        <a href="/dangki" class="btn btn-outline-danger" role="button" aria-pressed="true">Đăng kí</a>
      </li>
      <li class="nav-item mx-1">
        <a class="btn btn-light" href="/dangnhap" role="button" aria-pressed="true">Đăng nhập</a>
      </li>
      </li>
      <% } %>

      <% if(name){%>
      <% if(role){%>
      <li class="nav-item">
        <a class="nav-link" href="/themchuyenmuc">Thêm chuyên mục</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/themmathang">Thêm mặt hàng</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/themnguoidung">Thêm người dùng</a>
      </li>
      <% } %>
      <li> <a class="nav-link" href="/lichsudathang">Lịch sử đặt hàng</a>
      </li>
      <li> <a class="nav-link" href="/">Xin chao <%= name %></a>
      </li>
      <li> <a class="nav-link" href="/giohang">Xem giỏ hàng</a>
      </li>
      <li> <a class="btn btn-danger" href="/logout">Đăng xuất</a>
      </li>
      <% } %>
    </ul>

  </div>
</nav>