<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar tạm thời</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if(name == ""){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/dangki">Đăng kí</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dangnhap">Đăng nhập</a>
      </li>
      </li>
      <% } %>

      <% if(name){%>
      <% if(role){%>
      <li class="nav-item">
        <a class="nav-link" href="/themchuyenmuc">Thêm chuyên mục</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/themmathang">Thêm mặt hàng</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/themnguoidung">Thêm người dùng</a>
      </li>
      <% } %>
      <li> <a class="nav-link" href="/lichsudathang">Lịch sử đặt hàng</a>
      </li>
      <li> <a class="nav-link" href="/">Xin chao <%= name %></a>
      </li>
      <li> <a class="nav-link" href="/giohang">Xem giỏ hàng</a>
      </li>
      <li> <a class="nav-link" href="/logout">Đăng xuất</a>
      </li>
      <% } %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>